# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [3]:
number= 6

print(number)

number=5

print(number)

#notice that the number has been reassigned*

6
5

##### Assinging float

In [4]:
number_float= 2.3
print(number_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [7]:
num1=2
num2=5.4
result=num1+num2

result+=2 #this shorthand adds two to the original answer of 7.4*
print(result)

9.4

##### Subtraction

In [10]:
result=num2-num1

result-=1 #this shorthand subtracts 1 to the original answer of 3.4)

print(result)

2.4000000000000004

##### Multiplication

In [12]:
result=num1*num2

result *=2 #same shorthand as above*
print(result)

21.6

##### Division

In [16]:
result=num2/num1

result /=2

print(result)

1.35

##### Floor Division

In [18]:
num1=5
num2=2

result=num1/num2

floor_result=num1//num2 #if you want the decimal point to be taken off*

print(result)
print(floor_result)

2.5
2

##### Modulo

In [19]:
result=num1 % num2

print(result)

1

##### Exponential

In [20]:
square= 5**2
print(square)

25

### String Input-Output

##### String Assignment

In [21]:
name="Laura"

print(name)

Laura

##### print() <br>
<p>Don't forget about end=' '</p>

In [24]:
print("This is my first name: " +name)

print(name, end= "Rivera")

This is my first name: Laura
LauraRivera

##### String Concatenation

In [25]:
first_name="Laura"
last_name="Rivera"

full_name=first_name + last_name

print(full_name)

LauraRivera

##### Type Conversion

In [27]:
number="32"

number +2 #This will generate error,you cannot concatenate a string to string, not with an integer

changed_type=float(number)

print(number)
print(changed_type)

TypeError: can only concatenate str (not "int") to str

##### input()

In [30]:
 # this is a single comment
    
age=input("What is your age?") #looks for a value from the user
print(age)

value_of_age= int(age) +2 #you have to convert this string by assigning it as an integer

print(value_of_age)

# this is another comment

What is your age?27
27
29

##### format()

In [ ]:
# ask user for age
age= input("What is your age")

# print out a formatted string with their age

# print('You are {} years old, and I am {} years old'.format(age, 34))
result_string= "You are {}, and you are getting old!".format(age)
print(result_string)

##### Old Way (python 2)

In [33]:
# using the % sign to format strings in python 2
# %d = digit, %s = string, %i = int

result_string2= "You are %s and you look great for your age!" %age
print(result_string2)

You are 27 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
car= input("What is the color, year, make, and model of your car?")

print(car)

### If Statements

##### 'is' keyword

In [ ]:
# use is when checking for same object, not same value

##### 'in' keyword

In [ ]:
# check if char in name

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

## Using 'and'/'or' with If Statements

In [45]:
# when using 'and' keyword, checks to see if true and true
num1= 15
num2= 3
num3= 10



# if num1 == num2 and num1 == num3:
#     print('True and true')

if num1> num2 and num1>num3:
    print("Both sides are true")

# when using 'or' keyword, checks to see if one side is tru

if (num2 == num4 and num1 == num3) or num1 > num2:
    print("False and True")
    
if num1 > num2 or num3 > num1:
    print("True and False")

# if (num2 == num4 and num1 == num3) or num1 > num2:
#     print('False and true')

Both sides are true

NameError: name 'num4' is not defined

### Elif Statements

In [51]:
first_name= "Max"
if first_name == "Smith" :
    print("The name is Smith")
elif first_name !="Max" :
    print("My name is not Max")
else:
    print("My name is Max")

My name is Max

### Else Statements

In [ ]:
# see above

# In-Class Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [75]:
age= int (input("What is your age?"))

if age <18 :
    print("Kids")
elif age >=18 and age < 65:
    print("Adults")
else:
    print("seniors")

What is your age?65
seniors

### For Loops

In [76]:
# for keyword, counter, in keyword, condition

# for i in range(10):
#     print(i)

name= "Max Payne"

for i in name:
    print(i)

M
a
x

P
a
y
n
e

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [81]:
# will continue to next iteration

In [85]:
for i in range(10) :
    if i == 5 :
        continue
    print(i)

0
1
2
3
4
6
7
8
9

##### Break Statement

In [ ]:
# will break out of current loop

In [87]:
for i in range(10) :
    if i == 5 :
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [92]:
for i in name:
    pass #come back here later

##### Double For Loops

In [93]:
for i in range(5) :
    for j in range(5) :
        print("i= {}, j = {}" .format(i,j))

i= 0, j = 0
i= 0, j = 1
i= 0, j = 2
i= 0, j = 3
i= 0, j = 4
i= 1, j = 0
i= 1, j = 1
i= 1, j = 2
i= 1, j = 3
i= 1, j = 4
i= 2, j = 0
i= 2, j = 1
i= 2, j = 2
i= 2, j = 3
i= 2, j = 4
i= 3, j = 0
i= 3, j = 1
i= 3, j = 2
i= 3, j = 3
i= 3, j = 4
i= 4, j = 0
i= 4, j = 1
i= 4, j = 2
i= 4, j = 3
i= 4, j = 4

### While Loops

In [2]:
# based on a conditional statement
num = 0

while num < 10:
    print(num)
    num +=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [1]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [4]:
num = 0

while num <5 :
    print("While loop iteration" + str(num))
    
    for i in range(1):
        print("For loop iteration" + str(i))
        
        num +=1

While loop iteration0
For loop iteration0
While loop iteration1
For loop iteration0
While loop iteration2
For loop iteration0
While loop iteration3
For loop iteration0
While loop iteration4
For loop iteration0

### Built-In Functions

##### range()

In [9]:
# start, stop, step

for i in range(0, 20, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

##### len()

In [13]:
# check length of variable

name= "Max"

length = len(name)
print(length)
    
for i in range (len(name)):
    print(name[i])
# print(length)

3
M
a
x

##### help()

In [19]:
# to view more information on a python function

help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##### isinstance()

In [3]:
# isinstance(var, type)

if isinstance(4.5, float):
    print("This is a float")

This is a float

##### abs()

In [4]:
#absolute values are values that do not have any negative connotation

abs(-5)

5

### Try and Except

# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
number_test = 0 
try:
         print("your number is " + str(number_test)
except:
    print("That did not work-- ERROR Number 304")
    
    #answer= your number is 0

### Lists

##### Declaring Lists

In [2]:
l_1=[] #declaring an empty list

names = ["Max","Cindy", "Cathy", "Bob"]
print(names)

['Max', 'Cindy', 'Cathy', 'Bob']

##### Indexing a List

In [7]:
# [-1], [start: stop: step]

# print(names[0])
print(names[0])

# print(names[1:]) # starts at 1 goes to end
print(names[1:])
# print(names[:2]) # starts at beginning prints index 0 and 1
print(names[:2])

# print(names[1::2]) # starts at index 1 goes up by 2 each iteration (basically prints out all odd indexes)
print(names[1::2])

# print(names[::-1]) # reverse printed order
print(names[::-1])

Max
['Cindy', 'Cathy', 'Bob']
['Max', 'Cindy']
['Cindy', 'Bob']
['Bob', 'Cathy', 'Cindy', 'Max']

##### .append()

In [8]:
names.append("Laura")
print(names)

['Max', 'Cindy', 'Cathy', 'Bob', 'Laura']

##### .insert()

In [11]:
# list.insert(index, value)

names.insert(0, "Jimmy")
print(names)

['Jimmy', 'Max', 'Cindy', 'Cathy', 'Bob', 'Laura']

##### .pop()

In [12]:
# default last, param = index
# pop returns the element that was removed in case you want to assign it into a variable

result= names.pop()
print(names)

['Jimmy', 'Max', 'Cindy', 'Cathy', 'Bob']

##### .remove()

In [13]:
# value to be removed, not index

names.remove("Jimmy")
print(names)

['Max', 'Cindy', 'Cathy', 'Bob']

##### del()

In [15]:
# index to be removed, not value
# be careful with del, can cause indexing errors

print(names)

del(names[0])

print(names)

['Max', 'Cindy', 'Cathy', 'Bob']
['Cindy', 'Cathy', 'Bob']

##### Concatenating Two Lists

In [16]:
# will append two lists together, not add up elements in each list

l_1=[3,4,5]
l_2=[0,1,2]

large_list= l_1 + l_2

print(large_list)

[3, 4, 5, 0, 1, 2]

##### Lists Within Lists

In [21]:
# lists are able to hold any type of elements, including lists themselves
# they can also go as deep as you want, having many lists inside of each other
names= ["Max" , "Sam" , "Josh" , ["Sally", "Sue" , "Tamika"]]

print(names)

print(names[3][0])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tamika']]
Sally

##### Looping Through Lists

In [28]:
# two ways to loop through a list, one is by index, the other is using the 'in' keyword
first_names=["Jim", "Sally", "Fred","Lucas"]

for i in range(len(first_names)):
    print(first_names[i])

#Loop with a for Loop

last_name="Carter"
for char in last_name:
    print(char)

# loop based on index

Jim
Sally
Fred
Lucas
C
a
r
t
e
r

## Exercise #1 <br>
<p>Build a pyramid of x's with 5 rows...</p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; x <br>
&nbsp;&nbsp;&nbsp;&nbsp; x x <br>
&nbsp;&nbsp;&nbsp; x x x <br>
&nbsp;&nbsp; x x x x <br>
&nbsp; x x x x x

In [3]:
def full_pyramid(rows):
    print("full_pyramid")
    
    for i in range (rows):
        print(' ' * (rows-i-1) + '*'*(2*i+1))

## Exercise #2 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [6]:
def printValues():
    l = list()
    for i in range(1,11):
        l.append(i**3)
    print(l)

printValues()

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #3 <br>
<p>Get first 100 Prime Numbers</p>

In [13]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

r=int("541")
for a in range(2,r+1):
    k=0
    for i in range(2,a//2+1):
        if(a%i==0):
            k=k+1
    if(k<=0):
        print(a)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541

## Exercise #4 <br>
<p>Make an addition calculator that takes in two inputs from the user and performs addition on those two numbers...<br>Then check to make sure that both numbers are instances of int or float<br><i>Hint: Use int() and float() to convert string inputs to numbers</i></p>

In [16]:
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')

sum = float(num1) + float(num2)

print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first number: 5
Enter second number: 5
The sum of 5 and 5 is 10.0

## Exercise #5 <br>
<p><b>Extra Credit</b><br>Do the same as exercise 4, except ask the user what they would like to do (add, subtract, multiply, or divide) then perform that operation...</p>

In [2]:
def add(x, y):
   return x + y

def subtract(x, y):
   return x - y

def multiply(x, y):
   return x * y

def divide(x, y):
   return x / y
print("Select one of these options.")
print("Add")
print("Subtract")
print("Multiply")
print("Divide")

choice = input("Enter choice:")
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

if choice == 'Add':
   print(num1,"+",num2,"=", add(num1,num2))
elif choice == 'Subtract':
   print(num1,"-",num2,"=", subtract(num1,num2))
elif choice == 'Multiply':
   print(num1,"*",num2,"=", multiply(num1,num2))
elif choice == 'Divide':
   print(num1,"/",num2,"=", divide(num1,num2))
else:
   print("Invalid input")

Select one of these options.
Add
Subtract
Multiply
Divide
Enter choice:add
Enter first number: 5
Enter second number: 5
Invalid input